# Created by https://www.gitignore.io/api

build
out
target

### Java ###
# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.zip
*.tar.gz
*.rar
hs_err_pid*

#generator custom folder
src/main/java/generated/

